<div class="container">
<h1>Add New Contact</h1>

<form #createForm="ngForm"  (ngSubmit)="onSubmit(createForm)">
    <fieldset class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" 
        id="name" 
        name="name" 
        required
        minlength="2"
        [ngClass] = "{ 'is-valid':name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
        ngModel #name="ngModel"
        placeholder="Ansarul Haque">
        <div *ngIf="name.errors && name.invalid && (name.dirty || name.touched)">
            <div class="invalid-feedback" *ngIf="name.errors.required">The name is required</div>
            <div class="invalid-feedback" *ngIf="name.errors.minlength">The name is too short</div>>
        </div>
    </fieldset>
    <fieldset class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" 
        id="email" 
        name="email" 
        maxlength="128"
        required
        [ngClass] = "{ 'is-valid':email.valid, 'is-invalid': (email.invalid && (email.dirty || email.touched))}"
        ngModel #email="ngModel"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        placeholder="Ansarul@gmail.com">
        <div *ngIf="email.errors && email.invalid && (email.dirty || email.touched)">
            <div class="invalid-feedback" *ngIf="email.errors.required">The email is required</div>
            <div class="invalid-feedback" *ngIf="email.errors.pattern">The email is invalid</div>
        </div>
    </fieldset>
    <fieldset class="mb-3">
        <label class="form-label" for="phone">Phone</label>
        <input class="form-control" type="tel" 
        id="phone" 
        name="phone" 
        required
        pattern="\d*"
        minlength="5"
        maxlength="15"
        [ngClass] = "{ 'is-valid':phone.valid, 'is-invalid': (phone.invalid && (phone.dirty || phone.touched))}"
        ngModel #phone="ngModel"
        placeholder="4134134455">
        <div *ngIf="phone.errors && phone.invalid && (phone.dirty || phone.touched)">
            <div class="invalid-feedback" *ngIf="phone.errors.required">The phone is required</div>
            <div class="invalid-feedback" *ngIf="phone.errors.minlength">The phone number is too short</div>
            <div class="invalid-feedback" *ngIf="phone.errors.maxlength">The phone number is too long</div>
            <div class="invalid-feedback" *ngIf="phone.errors.pattern">The phone number is invalid (number only without any spaces)</div>
        </div>
    </fieldset>
    <fieldset class="mb-3"> 
        <label class="form-label" for="avatar">Avatar</label>
        <input class="form-control" type="text" 
        id="avatar" 
        name="avatar" 
        required
        minlength="3"
        maxlength="40"
        [ngClass] = "{ 'is-valid':avatar.valid, 'is-invalid': (avatar.invalid && (avatar.dirty || avatar.touched))}"
        ngModel #avatar="ngModel"
        placeholder="Ansarul">
        <div *ngIf="avatar.errors && avatar.invalid && (avatar.dirty || avatar.touched)">
            <div class="invalid-feedback" *ngIf="avatar.errors.required">The username is required</div>
            <div class="invalid-feedback" *ngIf="avatar.errors.pattern">The username is too short</div>
        </div>
    </fieldset>
    <fieldset class="mb-3">
        <label class="form-label" for="street">Street</label>
        <input class="form-control" type="text" 
        id="street" 
        name="street" 
        minlength="4"
        maxlength="128"
        required
        [ngClass] = "{ 'is-valid':street.valid, 'is-invalid': (street.invalid && (street.dirty || street.touched))}"
        ngModel #street="ngModel"
        placeholder="voldfløjen 21">
        <div *ngIf="street.errors && street.invalid && (street.dirty || street.touched)">
            <div class="invalid-feedback" *ngIf="street.errors.required">The street is required</div>
            <div class="invalid-feedback" *ngIf="street.errors.pattern">The street is too short</div>
        </div>
    </fieldset>
    <fieldset class="mb-3">
        <label class="form-label" for="city">City</label>
        <input class="form-control" type="text" 
        id="city" 
        name="city" 
        minlength="2"
        maxlength="128"
        required
        [ngClass] = "{ 'is-valid':city.valid, 'is-invalid': (city.invalid && (city.dirty || city.touched))}"
        ngModel #city="ngModel"
        placeholder="Copenhagen">
        <div *ngIf="city.errors && city.invalid && (city.dirty || city.touched)">
            <div class="invalid-feedback" *ngIf="city.errors.required">The city is required</div>
            <div class="invalid-feedback" *ngIf="city.errors.pattern">The city is too short</div>
        </div>
    </fieldset>
    <fieldset class="mb-3">
        <label class="form-label" for="country">Country</label>
        <input class="form-control" type="text" 
        id="country" 
        name="country" 
        required
        [ngClass] = "{ 'is-valid':country.valid, 'is-invalid': (country.invalid && (country.dirty || country.touched))}"
        ngModel #country="ngModel"
        placeholder="Denmark">
        <div *ngIf="country.errors && country.invalid && (country.dirty || country.touched)">
            <div class="invalid-feedback" *ngIf="country.errors.required">The country is required</div>
            <div class="invalid-feedback" *ngIf="country.errors.pattern">The country is too short</div>
        </div>
    </fieldset>
    <br>
    <button type="submit" 
        [disabled] = "createForm.invalid"
        class="btn btn-primary">
        Add User
    </button>
    <button class="btn btn-danger">Cancel</button>
    
</form>

</div>