<section>
<a role="button" class="btn btn-primary" routerLink="/contacts/create">Add contact</a>
</section>
<ul class="contact-list">
    <app-contact-list-item *ngFor="let contact of contacts" 
    (clicked) = "handleContactClicked($event)"
    [contact]="contact"></app-contact-list-item>
</ul>